@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter";
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15rem;
}

.nav-text {
    padding: 15px;
    color: #667085;
    text-decoration: none;
}

.img-style {
    display: flex;
    align-items: center;
}

.logo-text {
    padding: 7px;
    font-weight: bold;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-text {
    padding-right: 30px;
    color: #667085;
    text-decoration: none;
}

.button-account {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    background: #8E2424;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: white;
    height: 40px;
    width: 110px;
}

.header-p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.header-p-text {
    font-weight: bold;
   color: #8E2424;
}


.header-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #101828;
    margin: 25px 0 25px 0px;
}

.header-p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #667085;
}

.section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 115px;
    flex-wrap: wrap;
    gap: 40px;
}

.section-h1 {
    color: #8E2424;
    margin-bottom: 15px;
    font-size: 60px;
    text-align: left;
}

.section-h3 {
    color: #101828;
    font-size: 14px;
    text-align: left;
    margin-bottom: 12px;
}

.section-p {
    color: #667085;
    font-size: 14px;
    text-align: left;
}

.content{
    width: 260px;
    height: 100px;
}

.vagas-descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 190px;
}

.vagas-text-red {
    font-weight: 600;
    text-align: center;
    color: #8E2424;
    background-color: rgba(142, 36, 36, 0.05);
    padding: 4px 8px;
    width: 125px;
    /* height: 28px; */
    border-radius: 8px;
}

.vagas-h1 {
    color: #101828;
    font-weight: bold;
    text-align: center;
    padding: 15px 15px;
}

.vagas-p {
    color: #667085;
    text-align: center;
    padding-bottom: 50px;
}

.vagas-img {
    width: 1080px;
    height: 400px;
}

article {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.box-design {
    padding: 24px 24px 28px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    margin-bottom: 30px;
}

article .test {
    width: 800px;
}

.jobs-h1 {
    margin-bottom: 35px;
}

.jobs-h3 {
    margin-bottom: 35px;
}

.full-gap, .salario{
    padding-right: 15px;
    color: #667085;
    font-weight: bold;
}

